/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
  box-sizing: border-box;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  /* startje */
  --color-text1: #222222;
  --color-text2: #FFFFFF;
  --color-background1: #E7E5D8;
  --color-background2: #779fb3;
  --color-background3: #D6D3C0;
  --color-background4: #f1c9c7;
}