/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
  box-sizing: border-box;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  /* startje */
  --color-text1: #222222;
  --color-text2: #FFFFFF;
  --color-background1: #E7E5D8;
  --color-background2: #779fb3;
  --color-background3: #D6D3C0;


}

body {
  font-family: Arial, sans-serif;
  background-color: var(--color-background1);
  color: var(--color-text1);
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

header p {

  color: var(--color-text2);
  background-color: var(--color-background2);
  margin: -0.5em -2em;
  padding: 1em 1em 1em 5.5em;

}

header nav {
  background-color: var(--color-text2);
  margin: 0em -2em;
}

header img:nth-of-type(1) {
  width: 11em;
  list-style: none;
}

header img:nth-of-type(1) {
  margin: 1em 1em 1em 6em;
}

header img:nth-of-type(2) {
  width: 3em;
}

header img:nth-of-type(2) {
  margin: 1em 1em 1em 1em
}

footer {
  background-color: var(--color-background3);
}

footer ul li:nth-of-type(1) {
  margin: 1em 1em 1em 7em;
  list-style: none;

}

footer ul li:nth-of-type(2) {
  margin: 1em 1em 1em 7em;
  list-style: none;

}

footer ul li:nth-of-type(3) {
  margin: 1em 1em 1em 7em;
  list-style: none;

}

footer ul li:nth-of-type(4) {
  margin: 1em 1em 1em 7em;
  list-style: none;

}

footer ul li:nth-of-type(5) {
  margin: 1em 1em 1em 7em;
  list-style: none;

}

footer ul li:nth-of-type(6) {
  margin: 1em 1em 1em 7em;
  list-style: none;

}

footer ul li:nth-of-type(7) {
  margin: 1em 1em 1em 7em;
  list-style: none;

}

footer ul li:nth-of-type(8) {
  margin: 1em 1em 1em 7em;
  list-style: none;

}

footer img {
  margin: 1em 1em 1em 2em;
  width: 20em;
  height: 7em;
}

footer section ul li:nth-of-type(1) img {
  width: 2.5em;
  height: 2.5em;
  margin: 0em 0em 0em -1.5em;
  padding: 0em;
  list-style: none;
}


footer section ul li:nth-of-type(2) img {
  width: 2.5em;
  height: 2.5em;
  margin: 0em 0em 0em -5.5em;
  padding: 0em;
  list-style: none;
}

footer section ul {
  display: flex;
}



